.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  & .container {
    padding: 40px;

    @include desktop {
      padding: 40px 20px;
    }

    @include laptop {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include mobile {
      padding: 16px;
    }
  }

  &__logo {
    width: fit-content;

    &-link {
      display: inline-block;
    }

    &-image {
      display: inline-block;
      max-width: 100px;
      height: auto;

      @include mobile {
        max-width: 64px;
      }
    }
  }
}
